body{
    background-color: black;
}
a{
    color: white;
    text-decoration: none;

text-decoration: underline;   
 font-size: 30px;
}

a:hover{
    color: rgb(248, 231, 125);
}

h1{
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 62px;
    font-weight: bolder;
}
